################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PoetryGen/v14
/Components
/packages
/PoetryGen/bin
/PoetryGen/obj
/LinuxGen/bin
/LinuxGen/obj
/PoetryGen.VC.VC.opendb
/PoetryGen.VC.db
